.certification{
    text-align: center;
    margin-top: 80px;
}

input.search{
    width: 30%;
}

h1 {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}
h1:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 60px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
}
.sidebar{
    height:100%
}

