{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link href="{% static 'css/list.css' %}" rel="stylesheet" type="text/css">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-2 bg-light h-100">
        <div class="container mt-3">
        {% if user.is_authenticated %}
         <a style="display:block;" href="{% url 'accounts:logout' %}">ログアウト</a>
         <a style="display:block;" href="{% url 'certifications:experience_form' %}">合格体験記を書く</a>
        {% else %}
        <p>合格体験記を見るには右の検索欄に資格名を入力して🔍ボタンを押してください(資格名は一部でも可)</p>
         合格体験記を書くにはログインが必要です
         <a class="mb-3"style="display:block;" href="{% url 'accounts:login' %}">ログイン</a>
         ユーザー登録がまだの方はこちらからユーザー登録をお願いします
         <a class="mb-3" style="display:block;" href="{% url 'accounts:signup' %}">登録画面へ</a>
        {% endif %}
        </div>
      </div>
    <div class="offset-1 col-8">
        {% if messages %}
        　{% for message in messages %}
        　　<p class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</p>
          {% endfor %}
    　　{% endif %}
        <div class="certification mt-5">
        <h1>資格を探す</h1>
        <form method="get", action = "{% url 'certifications:certification_list'%}">
          <p><input class="search mt-3 mb-2" type="text" name="certification_name" value="{{ certification_name }}" placeholder="検索"/><button type="submit"><i class="fas fa-search"></i></button></p>
        </form>
        <a class="btn btn-primary mb-5" style="display:block; width:150px; margin:0 auto;"href="{% url 'certifications:experience_form' %}">合格体験記を書く</a>
        <h5>検索結果</h5>
        {% if object_list|length == 0 %}
          <p>検索結果が存在しません</p>
        {% else %}
          {% for certification in object_list %}
          <a href="{% url 'certifications:experience_list' pk=certification.id %}">{{ certification.name }}</a>
          {% endfor %}
        {% endif %}
        <hr>
        最近の投稿↓：投稿ありがとうございます✨
        {% for current_experience in current_experience_list %}
        <a href="{% url 'certifications:experience_detail' pk=current_experience.id %}">{{ current_experience }}</a>
        {% endfor %}
      </div>
    </div>
    </div>
  </div>
</body>
</html>