{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link href="{% static 'css/list.css' %}" rel="stylesheet" type="text/css">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-2 bg-light h-100">
        <div class="container mt-3">
          <p>合格体験くん</p>
         <a style="display:block;" href="{% url 'certifications:experience_form' %}">体験記を書く</a>
        </div>
      </div>
    <div class="offset-1 col-8">
      <div class="mt-2">　</div>
        <div class="certification mt-5">
          <h1>合格体験記を探す</h1>
          <div class="col-12">
          <form method="get", action = "{% url 'certifications:certification_list'%}">
            <p><input style="width:280px" class="search mt-3 mb-2 col-12" type="text" name="certification_name" value="{{ certification_name }}" placeholder="資格名または大学名を入力してください"/><button type="submit"><i class="fas fa-search"></i></button></p>
          </form>
          </div>
          <a class="btn btn-primary mb-5" style="display:block; width:150px; margin:0 auto;"href="{% url 'certifications:experience_form' %}">合格体験記を書く</a>
          <h5>検索結果</h5>
          {% if object_list|length == 0 %}
            <p>検索結果が存在しません</p>
          {% else %}
            {% for certification in object_list %}
            <a href="{% url 'certifications:experience_list' pk=certification.id %}">{{ certification.name }}合格体験記</a><br>
            {% endfor %}
          {% endif %}
          <hr>
          最近の投稿：投稿ありがとうございます✨
        
        <div class="mt-2">
          <table style="margin:auto; font-size:14px; border-collapse:separate; border-spacing:20px 5px; table-layout:fixed;">
          {% for current_experience in current_experience_list reversed %}
          <tr>
            <td>
              {{ current_experience.certification }}合格体験記
            </td>
            <td>
              <a class="textwrap" href="{% url 'certifications:experience_detail' pk=current_experience.id %}">{{ current_experience}}</a>
            </td>
          </tr>
          {% endfor %}
          </table>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</body>
</html>