{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@napier_taikenki" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:title" content="aaa" />
  <meta property="og:description" content="aaa" />
  <meta property="og:image" content="https://taikenki.info{% static 'media/napier.jpg' %}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="{% static 'css/list.css' %}" rel="stylesheet" type="text/css">
  <title>{% block title %}{{ certification_name }}合格体験記 {{ object.title }}{% endblock %}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XKK4F4K5DQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XKK4F4K5DQ');
</script>
</head>
<body>
  <div class="container-fluid h-100">
      <div class="col-12 col-md-8 offset-md-2 col-sm-10 offset-sm-1 mt-5">
        <div class="mt-2">  </div>
        <div class="row justify-content-center mt-5">
          <div class="col-lg-10">
		  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text={{ certification_name }}合格体験記 data-hashtags="合格体験くん" data-related="taiken_kun" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <table style="font-size:18px; line-height:180%; border-collapse:separate; border-spacing:0px 5px; table-layout:fixed;" class="table">
              <tbody>
                <tr>
                  <td class="text-nowrap" style="width:30%">タイトル</td>
                  <td style="word-wrap: break-word;">{{ object.title }}</td>
                </tr>
		<tr>
		  <td>予備校</td>
		  <td>{{ object.予備校 }}</td>
		</tr>
		<tr>
		  {% if object.score is None %}
		  {% else %}
		    <td>得点</td>
		    <td>{{ object.score }}</td>
		  {% endif %}
		</tr>
		<tr>
		{% if object.common_test_socre is None %}
		{% else %}
		  <td>共通テスト得点</td>
		  <td>object.common_test_score</td>
		{% endif %}
		</tr>
		<tr>
			{% if object.study_time is None %}
			{% else %}
			  <td>勉強期間</td>
			  <td>object.study_time</td>
			{% endif %}
		</tr>
		<tr>
		    {% if object.how_to_study %}
		    <td><i class="fas fa-book"></i> 使用した参考書</td>
		      <td>{{ object.how_to_study }}</td>
		      {% else %}
		    {% endif %}
		</tr>
		<tr>
		    {% if object.how_to_study_site is None %}
		    {% else %}
		      <td>使用したサービス</td>
		      <td>{{ object.how_to_study_site }}</td>
		    {% endif %}
		</tr>
		<tr>
		    <td>勉強方法</td>
		    <td style="word-break:break-all">{{ object.study_method }}</td>
		</tr>
		<tr>
		    {% if object.description is null %}
		    
		      <td>感想</td>
		      <td>{{ object.description }}</td>
		      {% else %}
		     {% endif %}
		</tr>
		<tr>
		    {% if object.advices is None %}
		    
		      <td>アドバイス</td>
		      <td>{{ object.advices }}</td>
		      {% else %}
		    {% endif %}
		</tr>
              </tbody>
            </table>
            <div class="mb-1">
            <a href="{% url 'certifications:合格体験記一覧' pk=object.certification.id %}">{{ certification_name }}合格体験記一覧ページへ</a>
            </div>
            <a href="{% url 'certifications:certification_list'%}">トップページに戻る</a>
	    ／ <a href="{% url 'certifications:write' %}">合格体験記を書く</a>
    
          </div>
    </div>
    
    </div>
</body>
</html>
