{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="{% static 'css/list.css' %}" rel="stylesheet" type="text/css">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
  <div class="container">
    <div class="offset-2 col-9 mt-5">
      <div class="certification">
        <h1>{{ certification_name }}合格体験記</h1>
      </div>
      <div class="mt-5">
      <h5>タイトル</h5>{{ object.title }}
      <h5>勉強方法(使った参考書やサイト名など)　：　</h5> 
      {{ object.how_to_study }}
      <h5>勉強した期間：　</h5>
      {{ object.study_time }}
      <h5>内容</h5>
    　{{　object.description }}
      </div>
    </div>
  </div>
</body>
</html>