{% for field in form %}
                            <div>
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    <div class="login-error-text">
                                        {{ field.errors }}
                                    </div>
                                {% else %}
                                    <div class="login-text-div"></div>
                                {% endif %}
                            </div>
                            {% endfor %}